<div class="row">
    <div class="col text-left table-responsive">
        <table class="table">
            {{#each Burger}}
                {{#unless devoured}}
                    {{> burgers/burger-block devoured=true}}
                {{/unless}}
            {{/each}}
        </table>
    </div>
    <div class="col text-left">
        <table>
            {{#each Burger}}
            <tr>
                {{#if devoured}}
                <td>
                    {{id}}. {{burger_name}}
                </td>
                {{/if}}
            </tr>
            {{/each}}
        </table>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12 text-center">
        <form class="create-form">
            <div class="form-group">
                <label for="burgerName"></label>
                <textarea type="text" id="burgerName" placeholder="Can I take your order?" rows="2"></textarea>
            <br>
            <button type="submit">Flip Patties</button>
            </div>
        </form>
    </div>
</div>